$blacColor: rgb(255, 255, 255);
$whiteColor: rgb(5, 5, 5);
$titleFont: Arial, Helvetica, sans-serif;
$bodyFont:'Times New Roman', Times, serif;
.navbar {
    width: 1500px;
    height: 80px;
display:flex;
background-color:$blacColor ;
}

.navbar ul{
    display: flex;
}
.navbar a {
    
margin-right: 50px;
    color: $whiteColor;
    font-size: 15px;
    text-decoration: none;
    font-family: $titleFont;
    font-family:$bodyFont ;
}
.dropdown{
    width: 200px;
    user-select: none;
    margin: 0 auto;
    position: relative;
    background-color: $blacColor;
}
.dropdown .dropdown-btn{
    padding: 10px;
    // box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    justify-content: space-between;
}

.dropdown .dropdown-content{

    position: absolute;
    padding: 10px;
    top: 110%;
    left: 0;
    // box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
font-weight: 500;
    background-color: $blacColor;
    color:#333;
    width: 95%;
}
.dropdown .dropdown-content .dropdown-item {
    padding: 10px;
    width: 180px;
cursor: pointer;
transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover{
    background: #f4f4f4;
}
h1{
    margin: 80px 0 60px 0;
}