.body{
    margin-top: 40px;
    width: 1600px;
    h1{
        margin-bottom: 30px;
        
    }
    .image{
        display: flex;
        .title{
            margin-left: 30px;
            .h2{
                margin-bottom: 25px;
                width: 600px;
            }
            .number{
                display: flex;
                p{
                    margin-right: 20px;
                }
            }
            h5{
                margin-bottom: 90px;
            }
            .bottom{
                font-size: 30px;
                padding: 140px 160px;
            }
        }
    }
}