.app {
	text-align: center;
	/* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.btn-block {
	margin-top: 15px;
}
.btn-block button {
	display: block;
	padding: 10px 15px;
	margin: 0 auto;
}
.box {
	position: absolute;
	min-width: 400px;
	height: 200px;
	border-radius: 16px;
	padding: 15px 30px;
	border: 1px solid #eee;
	left: 50%;
	transform: translateX(-50%);
	background-color: #eee;
	z-index: 4;
    display: none;
}
.box.visible{
    display: block;
}
.close {
	position: absolute;
	right: 15px;
	top: 10px;
	background: transparent;
	border: none;
	padding: 5px;
	cursor: pointer;
}
.box form {
	display: block;
	margin-top: 30px;
}
form input {
	display: block;
	width: 100%;
	margin-bottom: 16px;
	height: 30px;
	border-radius: 8px;
}
.overlay {
	position: fixed;
	background-color: #333;
	z-index: 3;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
