
.App{
    margin-top: 30px;
    // margin-left: 600px;
    // background-color: darkorange;

}
.create{
//    display: flex;
//    justify-content: end;
//    align-items: flex-end;
margin-left: 600px;
}
input{
    border-radius: 6px;
    width: 500px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}
h4{
    margin-top: 20px;
}
.button{
    font-size: 20px;
}