.home-header {
  margin-top: 240px;
  /* display: flex; */
}
.header-top {
  margin-bottom: 34px;
  padding: 20px 0;
  background: #fafafc;
}
.header-top__container {
  display: flex;
  align-items: center;
}
.register {
  margin-left: 30px;
  padding: 16px;
  background: #1b5bf7;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  cursor: pointer;
}
.notification__bell {
  width: 21px;
  height: 26px;
}
.site-logo {
  margin-right: auto;
}
.header-top__notification {
  position: relative;
}
.notification__count {
  position: absolute;
  left: 17px;
  top: -6px;
  padding: 2px 6px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background: #f76659;
  border-radius: 50%;
}
.header__nav .nav {
  align-items: center;
}

.header__nav .nav-item:not(:last-child) {
  margin-right: 46px;
}

.header__nav .nav-link {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.header__nav .nav-link .active {
  padding: 8px 17px;
}
