.Below{
    margin-top: 350px;
    .box{
        display: flex;
        height: 300px;
        .image{
            width: 450px;
            .text{
                margin: 40px 0 70px 0;
            }
        }
        .box2{
            margin-left: 200px;
            font-size: 16px;
            .txt{
                font-size: 23px;
            }
            .tex{
                margin-top: 30px;
            }
        }
    }
}