.App{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(83, 108, 192); */
    /* margin-left: -260px; */
    /* height: 1000px; */
    /* width: 50px; */
}
.mainCont{
    /* width: 1500px; */
    display: flex;
    /* flex-direction: row; */
}
.wrapp{
    width: 200px; 
     /* height: 1000px;  */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* background-color: red; */
    margin-right: 120px;
}
.Post{
    display: flex;
}
.img{
    /* padding: 40px; */
    border-radius: 16px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.name{
    width: 290px;
    font-size: 20px;
    color: #000;
}
.age{
    color: #000;
}