.logo{
    margin-top: 100px;
    // width: 1700px;
    margin-bottom: 85px;
    .image{
display: flex;
.title{
    margin-left: 50px;
    width: 700px;
    h2{
      margin-bottom: 30px;  
    }
    h6{
        // margin-top: 30px;
    }
    .text1{
        background-color: #F6F8F9;
        display: flex;
        height: 35px;
        border-radius: 6px;
        cursor: pointer;
        // padding: 5px;
        p{
            margin-top: 10px;
            margin-left: 14px;
            display: flex;
            align-items: center;
            width: 204px;
            margin-right: 90px;
        }
    }
}
    }
}